<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="log/internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write dev errors to file -->
    <target xsi:type="File" name="deverror" fileName="log/${shortdate}/nlog-deverror.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${newline}错误描述：${exception:tostring}" />
    <!-- write errors to file -->
    <target xsi:type="File" name="error" fileName="log/${shortdate}/nlog-error.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${newline}错误描述：${exception:tostring}" />

    <!--write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="log/${shortdate}/nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${newline}${exception:tostring}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--<target xsi:type="File" name="ownFile-web" fileName="log/${shortdate}/nlog-own.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->

    <!-- write to the void aka just remove -->
    <!--<target xsi:type="Null" name="blackhole" />-->
    <target name="database" xsi:type="Database" >

      <connectionString>${var:connectionString}</connectionString>
      
      <commandText>
        insert into dbo.Log (Description, Content) values ( @Message, @Exception);
      </commandText>

      <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="Microsoft.AspNetCore.Diagnostics.*" minlevel="Trace" writeTo="deverror" />
    <logger name="Microsoft.AspNetCore.Server.Kestrel" minlevel="Trace" writeTo="error" />


    <!--因为数据太大，只记录异常，其余不记录；如需记录其它日志，请取消注释以下代码 -->
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>
