@{
    ViewData["Title"] = "权限管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Metronic/assets/global/plugins/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Select/css/select.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Editor-1.7.2/css/editor.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Metronic//assets//global/plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Metronic//assets//global/plugins/DataTables-1.10.15/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/editor/js/dataTables.editor.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/DataTables-1.10.15/extensions/editor//js/editor.bootstrap.min.js"></script>    
    <script>
        var editor; // use a global for the submit and return data rendering in the user-tables

        $(document).ready(function () {
            editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/User/AddUser'
                    },
                    edit: {
                        type: 'POST',
                        url: '/User/UpdateUser'
                    },
                    remove: {
                        type: 'POST',
                        url: '/User/DeleteUser'
                    }
                },
                table: "#user-table",
                idSrc: 'id',
                fields: [{
                    label: "登录名（英文）",
                    name: "userName",
                    multiEditable: false
                }, {
                    label: "名称:",
                    name: "name",
                    multiEditable: false
                }, {
                    label: "密码",
                    name: "userPwd",
                    multiEditable: false
                }, {
                    label: "Email:",
                    name: "email",
                    multiEditable: false
                }, {
                    label: "手机号码",
                    name: "phoneNumber",
                    multiEditable: false
                },
                {
                    type: "radio",
                    label: "状态:",
                    name: "state",
                    multiEditable: false,
                    options: [
                        { label: "启用", value: 1 },
                        { label: "停用", value: 0 }
                    ],
                    def: 1
                }],
                i18n: {
                    create: {
                        button: "创建",
                        title: "创建新权限",
                        submit: "创建"
                    },
                    edit: {
                        button: "编辑",
                        title: "编辑权限信息",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title: "删除权限",
                        submit: "删除",
                        confirm: {
                            _: "是否删除被选中的 %d 个角色?",
                            1: "是否删除被选中的 1 个角色?"
                        }
                    },
                    error: {
                        system: "发生错误，操作失败了！"
                    },
                    datetime: {
                        months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                        weekdays: ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期天']
                    }
                }
            });

            //editor.on('open', function () {

            //    $oms.ajax({
            //        url: '/Permission/GetCategorys',
            //        type: 'POST',
            //        success: function (res) {
            //            if (res.isSucc) {
            //                var jsonCategory = JSON.stringify(res.data);
            //                if (window.localStorage) {
            //                    localStorage.setItem("categorys", jsonCategory);
            //                } else {
            //                    Cookie.write("categorys", res.data);
            //                }
            //                editor.field('category').update(res.data);
            //            }
            //        }
            //    });
            //});

            //表单验证
            editor.on('preSubmit', function (e, o, action) {
                if (action !== 'remove') {
                    var re = new RegExp("^[a-zA-Z][a-zA-Z0-9_]*$");
                    var userName = this.field('userName');
                    if (!userName.isMultiValue()) {
                        if (!userName.val()) {
                            userName.error('* 登录名是必须的');
                        }
                        if (userName.val().length > 32) {
                            userName.error('* 保持在32个字符以下');
                        }
                        if (!re.test(userName.val())) {
                            userName.error('* 请使用英文作为登录名');
                        }
                    }
                    var Name = this.field('name');

                    if (!Name.isMultiValue()) {
                        if (!Name.val()) {
                            Name.error('* 用户名称是必须的');
                        }
                        if (Name.val().length >= 50) {
                            Name.error('* 请保持在50个字符以下');
                        }
                    }
                    //var Code = this.field('systemName');
                    //if (!Code.isMultiValue()) {
                    //    if (!Code.val()) {
                    //        Code.error("* 权限英文控制码是必须的");
                    //    }
                    //    if (Code.val().length > 100) {
                    //        Code.error("* 请保持在100个字符以下");
                    //    }
                    //}
                    //var Category = this.field('category');
                    //if (!Category.isMultiValue()) {
                    //    if (!Category.val()) {
                    //        Category.error("* 请选择一个权限所属类型");
                    //    }
                    //    if (Category.val().length > 100) {
                    //        Category.error("* 请保持在100个字符以下");
                    //    }
                    //}
                    if (this.inError()) {
                        return false;
                    }
                }
            });

            var table = $('#user-table').DataTable({
                dom: "Bfrtip",
                "processing": true,
                "serverSide": true,
                ajax: {
                    "url": "/User/GetUsersByPage",
                    "type": "POST",
                    "dataSrc": "data",
                    //"data": { pageIndex: 1, pageSize: 10 }
                },
                columns: [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox',
                        orderable: false
                    },
                    { data: "userName" },
                    { data: "name" },
                    {
                        data: function (val) {
                            if (val.state == true) {
                                return "正常";
                            } else {
                                return "停用";
                            }
                        }
                    },
                    { data: "email" },
                    { data: "phoneNumber" },
                    { data: "createdTime" },
                    { data: "lastLoginTime" },
                    { data: "lastLoginIp" },
                    {
                        "data": null,
                        "defaultContent": "<a>编辑角色</a>"
                    }
                ],
                oLanguage: {//语言设置
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "没有检索到数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmtpy": "没有数据",
                    "sProcessing": '<i class="fa fa-coffee"></i> 正在加载数据...',
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
                select: true,
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor }
                ]
            });

            $('#user-table tbody').on('click', 'a', function () {
                var data = table.row($(this).parents('tr')).data();
                //权限增删改查
                window.location.href = "/User/Role/" + data.id
            });

        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users font-green"></i>
                    <span class="caption-subject font-green bold uppercase">用户管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <table id="user-table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>登录名</th>
                            <th>名称</th>
                            <th>状态</th>
                            <th>Email</th>
                            <th>手机</th>
                            <th>创建时间</th>
                            <th>最后登录时间</th>
                            <th>最后登录IP</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>登录名</th>
                            <th>名称</th>
                            <th>状态</th>
                            <th>Email</th>
                            <th>手机</th>
                            <th>创建时间</th>
                            <th>最后登录时间</th>
                            <th>最后登录IP</th>
                            <th>操作</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>


